<footer class="bottom-nav">
    <a href="/Comunidade" class="<%= currentPage === 'community' ? 'nav-item active' : 'nav-item' %>">
        <i class="fas fa-users"></i>
    </a>
    <a href="/Andamento" class="<%= currentPage === 'chat' ? 'nav-item active' : 'nav-item' %>">
        <i class="fas fa-comment-dots"></i>
    </a>
    <a href="/home" class="<%= currentPage === 'home' ? 'nav-item active' : 'nav-item' %>">
        <i class="fas fa-home"></i>
    </a>
    <a href="/LerDiario" class="<%= currentPage === 'diary' ? 'nav-item active' : 'nav-item' %>">
        <i class="fas fa-book-open"></i>
    </a>
    <a href="/exercicios" class="<%= currentPage === 'meditations' ? 'nav-item active' : 'nav-item' %>">
        <i class="fas fa-heartbeat"></i>
    </a>
    <a href="/Denuncias" class="<%= currentPage === 'report' ? 'nav-item active' : 'nav-item' %>">
        <i class="fas fa-exclamation-triangle"></i>
    </a>
</footer>